body>main>#main{
    display: flex;
    justify-content: center;
}

body>main>#main>#left{
    width: 0%; /* El ancho del div en porcentaje */
    margin: 0 1%; /* Margen entre los div */
}

body>main>#main>#center{
    width: 100%; /* El ancho del div en porcentaje */
    margin: 0; /* Margen entre los div */
}

body>main>#main>#right{
    width: 0%; /* El ancho del div en porcentaje */
    margin: 0 1%; /* Margen entre los div */
}

.container {
    max-width: 100%;
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 100%;
}

.producto img {
    max-width: 100%;
    height: auto;
}

#titulo-webs {
    margin: 20px;
}